---
title: 'Apoio'
weight: 95
header_menu: false
---

<div class="sponsor-container">
  <div class="sponsor"><img src="logo/ufsc.png" alt="Universidade Federal de Santa Catarina"></div>
  <div class="sponsor"><img src="logo/ine.png" alt="Departamento de Informática e Estatística - UFSC"></div>
  <div class="sponsor"><img src="logo/ppgfsc.png" alt="Programa de Pós-Graduação em Física - UFSC"></div>
  <div class="sponsor"><img src="logo/ctc.png" alt="Centro Tecnológico - UFSC"></div>
  <div class="sponsor"><img src="logo/cfm.jpg" alt="Centro de Física e Matemática - UFSC"></div>
  <div class="sponsor"><img src="logo/quanby.png" alt="Quanby"></div>
  <div class="sponsor"><img src="logo/quantuloop.svg" alt="Quantuloop"></div>
  <div class="sponsor"><img src="logo/venturus.png" alt="Venturus"></div>
</div>

<style>
  .sponsor-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: 100%;
  }
  .sponsor-container .sponsor {
    margin: 30px 0;
    max-width: 30%;
    max-height: 200px;
    place-content: center;
  }
  .sponsor-container .sponsor img {
    max-width: 100%;
    max-height: 100%;
  }
</style>